<!doctype html>
<title>Entschuldige | Perd&oacute;n</title>

<article>
    <h1>Super Fiesta wird f&uuml;r dich wieder online sein!</h1>
    <h1>Super Fiesta estar&aacute; online de nuevo contigo pronto!</h1>    
    <div>
        <p>Entschuldige die Unannehmlichkeiten aber momentan ist Super Fiesta macht der Applikation Verbesserungen. Auf jedem Fall in dringendem Fall setzt dich in Kontakt unter dem Telefonnummer: 076 / 577 09 29 oder schreibe eine E-Mail an folgende Addresse: <a href="mailto:#">superfiesta.ch@gmail.com</a></p>
        <p>&mdash; Super Fiesta</p>
        <p>Perdona por los inconvenientes pero en este momento Super Fiesta est&aacute; haciendo mantenimiento a la aplicaci&oacute;n. En caso urgente favor comunicate con el siguiente n&uacute;mero de telefono: 076 / 577 09 29 o escribe un E-Mail a la siguiente direcci&oacute;n de correo electr&oacute;nico: <a href="mailto:#">superfiesta.ch@gmail.com</a></p>
        <p>&mdash; Super Fiesta</p>
    </div>
</article>